
<div class="container comment-data-container">
    <div class="header">
        <h1>Comments</h1>
    </div>
    <div class="card d-flex">
        <div class="card-body">
            <ul class="list-group list-group-flush comment-list">
                <li class="list-group-item d-flex justify-content-between comment-list-item" *ngFor="let comment of comments">
                    <div class="d-flex flex-column">
                        <p class="mb-2"><b>{{comment?.name || '-'}}</b></p>
                        <p class="mb-2" style="color:'blue'">{{comment?.email || '-'}}</p>
                        <p class="mb-0">{{comment?.body || '-'}}</p>
                    </div>
                    <button type="button" class="btn border-start" (click)="openEditModal(comment)">
                        <mat-icon matBadgeColor="warn">edit</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-12 mt-2">
       <!--  <pagination [totalItems]="commentsResponse.length" [maxSize]="10" (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination> -->
    </div>
</div>