<div class="modal-header">
    <h4 class="modal-title pull-left">{{data?.title}}</h4>
    <button type="button" class="btn-close close pull-right" (click)="closeDialog()" aria-label="Close" >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label class="form-label" for="name">Name:</label>
            <input type="text" [value]="data?.data?.name" disabled class="form-control">
        </div>
        <div class="form-group">
            <label class="form-label" for="email">Email:</label>
            <input type="email" [value]="data?.data?.email" class="form-control" disabled>
        </div>
        <div class="form-group">
            <label class="form-label" for="id">Id:</label>
            <input type="number" [value]="data?.data?.id" name="id" class="form-control" disabled>
        </div>
        <div class="form-group">
            <label class="form-label" for="postId">PostId:</label>
            <input type="number" [value]="data?.data?.postId" class="form-control" disabled>
        </div>
        <div class="form-group">
            <label class="form-label" for="body">Comment:</label>
            <textarea type="text" [value]="data?.data?.body" class="form-control"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="closeDialog()">{{data?.data?.closeBtnName}}</button>
</div>